/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background: white;
	color: black;
	font-family: "FreeSans", sans-serif;
	font-size: 24px;
	user-select: none;
}

.smily {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	background-color: #fffb53;
	border-radius: 50%;
	border: 5px solid #000000;
}

.eyes:before, .eyes:after {
	content:"";
	position: absolute;
	top: 30%;
	width: 25px;
	height: 25px;
	background:#000000;
	border-radius: 50%;
	transition: 0.5s;
}

.eyes:before {
	left: 25%;
}

.eyes:after {
	right: 25%;
}

.smily:hover .eyes:before,.smily:hover .eyes:after{
	width: 30px;
	height: 45px;
}

.lips {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 6px solid transparent;
	border-bottom: 10px solid #000000;
	border-radius: 0;
	transition: 0.5s;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}


.smily:hover .lips {
	width: 130px;
	border-radius: 50%;
}

#root {
	padding: 60px;
}

*:focus {
	outline: none;
}

h1 {
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 20px;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}

table.data {
	border-collapse: collapse;
}

table.data td {
	border: 1px solid #DDDDDD;
	padding: 10px;
}

input[type=button] {
	background: #DDDDDD;
	border: 0px;
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.9);
	font-size: 22px;
	font-weight: normal;
	padding: 16px 26px;
}
